<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
               
               <app-dona 
               [etiquetas] = "etiquetas1" 
               [datos] = "datos1" 
               [colors] = "colors1" 
               [titulo] = "titulo1"
               ></app-dona>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                
                <app-dona 
               [etiquetas] = "etiquetas2" 
               [datos] = "datos2" 
               [colors] = "colors2" 
               [titulo] = "titulo2"
               ></app-dona>

            </div>
        </div>
    </div>
</div>